<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	  <section name="Dell.Tribbles.ContentUpdate.Configuration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LearningCenterService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  <section name="Dell.Tribbles.Plugins.AppTelemetry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
	<section name="signatureSetting" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
	<Dell.Tribbles.ContentUpdate.Configuration.Properties.Settings>
            <setting name="UpdateCheckInterval" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ContentRepoRelativePath" serializeAs="String">
                <!-- <value>Dell\Dell Help &amp; Support\ContentRepo</value> -->
				<value>WaYOuSIHkpznHR9I41LdQQmnSJne3QQDbaAQGKyXJFCwaM5nzRQ56EnWmnpxfiFL</value>
            </setting>
            <setting name="AkamaiRepoBaseUrl" serializeAs="String">
                <value>YhvKn8VSl8ZwoEaf7UDH4QvCMyTwnr9DfrXO3wVvtedh54nPmGhEWxb971gAhdpLMKk8q0CG6ocriOGq5MRojQ==</value>
				<!-- <value>https://dellupdater.dell.com/non_du/Lithium/Production/</value>  -->
				<!--<value>https://dellupdater.dell.com/non_du/Lithium/Test/</value> -->
            </setting>
        </Dell.Tribbles.ContentUpdate.Configuration.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <LearningCenterService.Properties.Settings>
      <setting name="ProductName" serializeAs="String">
        <value>Dell Help &amp; Support</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>Dell Help &amp; Support</value>
      </setting>
      <setting name="LogNamePrefix" serializeAs="String">
        <value>Dell Help &amp; Support</value>
      </setting>
      <setting name="ProductVersion" serializeAs="String">
        <value>1.0</value>
      </setting>
    </LearningCenterService.Properties.Settings> 
	<Dell.Tribbles.Plugins.AppTelemetry.Properties.Settings>
    <setting name="DisableTelemetry" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="DisableBuffer" serializeAs="String">
      <value>False</value>
    </setting>
    <setting name="DawsServiceUri" serializeAs="String">
      <value>https://daws-test.azurewebsites.net/Action/LogEvent</value>
    </setting>  
  </Dell.Tribbles.Plugins.AppTelemetry.Properties.Settings>
  </applicationSettings>
<signatureSetting><Signature xmlns="http://www.w3.org/2000/09/xmldsig#"><SignedInfo><CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" /><SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" /><Reference URI=""><Transforms><Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature" /></Transforms><DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" /><DigestValue>8R43V56PoTGZh2yBbk5Pph53Xyo=</DigestValue></Reference></SignedInfo><SignatureValue>liTYUC6Am2rIiauTbznyD0UqkFgrZaUq/DPz6yVhecMojy9dTGknKF01lReFLXBpEf5R2hhXHwV8+7BXo88r9O69MuhaQqsrlXLN4/OAULkZpVbj6tYn9Zv7MqlQScUzjt9tB7c+Sn2Mwx8kRWWbxbbvXbcI974IGu+hWdpM/OM=</SignatureValue></Signature></signatureSetting></configuration>